* {
	margin: 0px;
	padding: 0px;
	
}

html {
	height: 100%;
	background: url(index.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	z-index: 0;
	font-family: Helvetica; 
	font-size: 18px; 
	line-height: 24px;
	width: 60em;
	margin: 3em auto;
}

#main_div {
	z-index: 0;
	border-radius: 10px 80px 10px 80px;
	border: 4px solid;
	border-color: white;
	height: inherit;
	width: inherit;
	overflow: hidden;
	position: absolute;
	background: url(body_pattern.jpg) repeat center center;
	background-size: 10%;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: inherit; 
}

header {
	background-color: #DAF7A0;
	text-align:left;
	margin-right:100px;
	font: 50px Tahoma, Helvetica, Arial, Sans-Serif;
	color: #222; 
	text-shadow: 0px 2px 3px #555;
	font-size: 18pt;
	padding: 1em 3em;
	width: 100%;
	position: relative;
}

h1>span {
	color: #ddd; 
}

.log {
	display: inline-block;
	position: relative;
	width: 8em;
	bottom: 0.5em;
	float:right;
	background-color: #00AA00;
	padding-left: 1em;
	padding-right: 2em;
	opacity: 0.5;
	border-bottom-style: solid;
	border-bottom-color: #00741A;
}

.register {
	position: relative;
	width: 10em;
	margin-left: 34em;
	bottom: 0.5em;
	background-color: #00AA00;
	padding-left: 1em;
	border-top-style: solid; 
	border-top-color: #00741A;
	opacity: 0.5;
}

.log:last-of-type {
	border-top-left-radius: 10px;
}

.log>a {
	color: black;
}

footer{
	position: fixed;
	bottom: 0px;
	height: 2em;
	width: inherit;
	background:#006600;
	font-size:10pt;
	text-align: right;
}

footer>a{
	text-decoration:none;
	color:white;
	margin:0px 10px;
	letter-spacing:.1em;
	font-variant:small-caps;
}

#pipe{
	color:white;
}

nav {
	margin: 5em auto;
	padding: 0px auto;
	position: relative;
	width: 710px;
}

.section {
	position: relative;
	border-radius: 5px 20px 5px 20px;
	display: inline-block;
	width: 200px;
	height: 200px;
	padding: 10px;
	margin-left: 20px;
	background: #a9db80; /* Old browsers */
	background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a9db80 0%,#96c56f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
}

.section:first-child {
	margin-left: 0px;
}

.section>ul>a {
	display:block;
	text-decoration: none;
	color: #ffffff; 
}

.section>ul>a>li {
	list-style:none;
}

.section>ul {
	display: table;
	font-size: 12pt;
	width: 200px;
	padding: auto;
}

.section:hover {
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

}

.section:hover>ul>a {
	border-top: 1px solid #6b727c;
	position: relative;
}

nav>div>ul>a {
	color: #fff;
}

nav>div>ul>a:hover {
	background: #4b545f;
}

#text_div{
	display:inline;
}

#form {
	width: 30em;
	margin: 5em auto;
}

table {
	position: relative;	
	z-index: 1;
	margin: 2em;
	border: 2px solid white;
	border-collapse: collapse;
}

#bill {
	position: relative;
	top: -2em;
	right: -20em;
	display: inline-block;
}

#bill_customer {
	top: 0px;
	left: 0px;
	display: inline-block;
}

#bill thead {
	display: inline-block;
}

#bill tbody {
	display: inline-block;
}

#bill_customer thead {
	display: inline-table;
}

#bill_customer tbody {
	display: inline-table;
}

th {
	background-color: #96C56F;
	border: solid white;
	color: white;
	font-weight: normal;
	font-size: 90%;
	padding: 0px 0.5em;
}

td {
	border: solid white;
	padding: 0px 0.5em;
	font-weight: lighter;
	font-size: 80%;
}

tr:nth-child(2n) {
	background-color: #aaa;
}

tr:nth-child(2n + 1) {
	background-color: #ddd;
}

footer a:visited {
	text-decoration: none;
	color: white;
}

form {
	margin: 2em;
}

input.session {
	margin: 0px 2em;
}

.redirect {
	margin: 2em 5em;
}

a.frontpage {
	color: #277F00;
	font-weight:bold;
}

a.frontpage:visited {
	color: #277F00;
	font-weight:bold;
}

a.frontpage:hover {
	color: #60D600;
	font-weight:bold;
}
